@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');


@import "tailwindcss";
@plugin "daisyui";


@theme{
  --color-ash-100: #F4F3F0;
  --color-peach-200: #D2B48C;
  --font-raleway: Raleway, sans-serif;
  --font-rancho: Rancho, cursive
}

.header-bg{
  background-image: url(./assets/images/more/15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg{
  background-image: url(./assets/images/more/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.form-bg{
  background-image: url(./assets/images/more/11.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.active{
  color: gold;
  text-decoration: underline;
}